In [23]:
import os, pandas as pd, pymongo
from dotenv import load_dotenv
load_dotenv()

True

Les données d'entraînement scrapées ayant été fractionnées sur plusieurs collections d'une seule base de données Mongo
Ce fichier permet de les recuperer et les concatener en une seule avant de procéderer à la jointure de la bdd JBBOX

In [24]:
ATLAS_KEY = os.getenv('ATLAS_KEY')

In [25]:
client = pymongo.MongoClient(ATLAS_KEY) # Connexion à Pymongo
db = client["ML_re"]

In [26]:
collection1 = db["films"]
data1 = list(collection1.find())
df1 = pd.DataFrame(data1)
df1.shape

(8856, 15)

In [27]:
collection2 = db["films2000_0_1000"]
data2 = list(collection2.find())
df2 = pd.DataFrame(data2)
df2.shape

(2581, 16)

In [28]:
collection3 = db["films2010_0_500"]
data3 = list(collection3.find())
df3 = pd.DataFrame(data3)
df3.shape

(5416, 16)

In [29]:
collection4 = db["films2010_501_1000"]
data4 = list(collection4.find())
df4 = pd.DataFrame(data4)
df4.shape

(1162, 16)

In [30]:
collection5 = db["films2020"]
data5 = list(collection5.find())
df5 = pd.DataFrame(data5)
df5.shape

(1121, 16)

In [31]:
collection6 = db["films2000_0_1000_2"]
data6 = list(collection5.find())
df6 = pd.DataFrame(data5)
df6.shape

(1121, 16)

In [32]:
client.close()

In [41]:
df_final_db = pd.concat([df1,df2,df3,df4,df5,df6], ignore_index=True)
df_final_db.shape

(20257, 16)

In [42]:
df_final_db.duplicated(subset=['titre','titre_original','date_de_sortie','directeur','synopsis','note_presse', 'note_spectateurs','box_office_france', 'prix', 'nominations','budget','duree']).value_counts()

False    17816
True      2441
dtype: int64

In [43]:
df_final_db = df_final_db.drop(df_final_db.columns[0], axis=1)
df_final_db.head(1)

,titre,titre_original,date_de_sortie,genres,directeur,acteurs,synopsis,note_presse,note_spectateurs,nationalite,box_office_france,prix,nominations,budget,duree
0,Les Vengeances de Maître Poutifard,,28 juin 2023,"[Comédie, Famille]",Pierre-François Martin-Laval,"[Christian Clavier, Isabelle Nanty, Jennie-Ann...","Instituteur à la retraite, Robert Poutifard n'...","2,0","2,1","[ France, Belgique]",360119,0,0,0.0,NaN

In [18]:
# df_final_db['date_de_sortie'] = str(df_final_db['date_de_sortie'])

In [44]:
df_final = df_final_db.drop_duplicates(subset=['titre','titre_original','date_de_sortie','directeur','synopsis','note_presse', 'note_spectateurs','box_office_france', 'prix', 'nominations','budget','duree'])
df_final.shape

(17816, 15)

In [45]:
df_final.columns

Index(['titre', 'titre_original', 'date_de_sortie', 'genres', 'directeur',
       'acteurs', 'synopsis', 'note_presse', 'note_spectateurs', 'nationalite',
       'box_office_france', 'prix', 'nominations', 'budget', 'duree'],
      dtype='object')

In [21]:
df_final.to_csv('films_allocine_17816.csv', index=False)